.sidenav{
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #999999;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px;
    text-decoration: none;
    color: #5D5D5D;
    font-size: 30px;
    display: block;
    font-family:DX하늘구름;
}
.sidenav a:hover {
    color: #FF5E00;
    background-color: #0a0a0a;
}
#title {
    width : 1000px;
    margin : 0 auto;
}
#title h1 {
    font-family:DX하늘구름;
    font-size: 50px;
    text-align: center;
    margin-left: 200px;
}
footer {
    margin-top: 200px;
    margin-left: 100px;
    text-align: center;
    color: #5D5D5D;
    margin-bottom: 10px;
}